<div class="container">
  <div class="d-flex justify-content-end">
    <%= link_to "Back to all parking spaces", root_path %>
  </div>
    <div class="card m-4 bg-white box-shadow border-0" style="width: 23rem;">
    <%= image_tag("driveway.jpg", class: "card-img-top") %>
      <div class="card-body">
        <div>
          <h5 class="card-title">
            <%= @space.name %>
          </h5>

          <h6 class="card-text">
            <%= @space.location %>
          </h6>

          <h6 class="card-text">
            <%= @space.description %>
          </h6>
          <br>
          <div class="d-flex justify-content-between">
            <h6 class="card-subtitle mb-2 text-muted">
              $<%= @space.price %>
            </h6>
            <%= link_to "Book this space", new_space_booking_path(@space), class:"card-link" %>
          </div>
        </div>
      </div>
    </div>
</div>
