<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="d-flex h-100">
        <div class="card m-4 bg-white box-shadow border-1 flex-grow-1" style="width: 23rem;">
          <%= image_tag @space.image_url, class: "card-img-top", alt: "Space Image" %>
          <div class="card-body">
            <h5 class="card-title"><%= @space.name %></h5>
            <h6 class="card-text"><%= @space.location %></h6>
            <h6 class="card-text"><%= @space.description %></h6>
            <div class="d-flex justify-content-between">
              <h6 class="card-subtitle mb-2 text-muted">$<%= @space.price %></h6>
              <div>
                <%= link_to "Book this space", new_space_booking_path(@space), class:"card-link" %>
              </div>
              <div>
                <%= link_to "Back to all parking spaces", spaces_path, class:"card-link" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="d-flex h-100">
        <div class="card m-4 bg-white box-shadow border-1 flex-grow-1" style="width: 23rem; margin-left: -15px; padding-bottom: 0;">
          <%= image_tag asset_path('map1.jpg'), class: "card-img-top img-fluid", alt: "Map Image", style: "object-fit: cover; width: 100%; height: 100%;" %>
        </div>
      </div>
    </div>
  </div>
</div>
