<div>
  <%# <p>
    <strong>Name:</strong>
    <%= @booking.space.name %>
  <%# </p>  %>

  <p>
    <strong>Start date:</strong>
    <%= booking.start %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= booking.end %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= booking.description %>
  </p>

  <p>
    <strong>Price per day:</strong>
    <%= booking.price %>
  </p>

  <div class="map-container">
    <%= image_tag("generic_map.png", class: "map-image", style: "border-radius: 50%; width: 70px; height: 70px;") %>
  </div>
</div>
