<div>
  <%# <p>
    <strong>Name:</strong>
    <%= @space.name %>

  <p>
    <strong>Start date:</strong>
    <%= booking.start %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= booking.end %>
  </p>

  <p>
    <strong>Description</strong>
    <%= booking.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= booking.price %>
  </p>

  <div class="map-container">
  <%= image_tag("generic_map.png", class: "map-image") %>
</div>

</div>
