<div class="container">
  <h3>Your upcoming bookings</h3>
  <div class="slider-container">
    <div class="slider-group">
      <% @bookings.each do |booking| %>
        <div class="card">
          <div class="content-img">
            <%= image_tag booking.space.image_url, class: "card-img-top", alt: "Space Image" %>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <%= booking.space.name %>
            </h5>
            <h6 class="card-text">
              <%= booking.space.location %>
            </h6>
            <h6 class="card-text">
              Start date:
              <%= booking.start %>
            </h6>
            <h6 class="card-text">
              End date:
              <%= booking.end %>
            </h6>
            <div class="card-button">
              <%= link_to "More booking details", booking %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div>
    <%= link_to "Need another spot?", spaces_path %>
  </div>
</div>
