<h1>Bookings Details</h1>

<div>
  <p>
    <strong>Name:</strong>
    <%= @booking.space.name %>
  </p>

  <p>
    <strong>Start Date:</strong>
    <%= @booking.start %>
  </p>

  <p>
    <strong>End Date:</strong>
    <%= @booking.end %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @booking.space.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @booking.space.location %>
  </p>

  <p>
    <strong>Price per day:</strong>
    $<%= @booking.space.price %>
  </p>

  <div class="map-container">
  <%= image_tag("generic_map.png", class: "map-image", style: "border-radius: 50%; width: 120px; height: `120`px;") %>
  </div>
</div>

<div>
  <%= link_to "Edit this booking", edit_booking_path(@booking) %> |
  <%= link_to "Back to bookings", bookings_path %>

  <%= button_to "Cancel this booking", @booking, method: :delete %>
</div>
