<div class="main-container">
  <div class="container">
    <h3>Booking details</h3>
    <div class="slider-container">
      <div class="slider-group">
        <div class="card">
          <div class="content-img">
            <%= image_tag @booking.space.image_url, class: "card-img-top", alt: "Booking Image" %>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <%= @booking.space.name %>
            </h5>
            <h6 class="card-text">
              <%= @booking.space.location %>
            </h6>
            <h6 class="card-text">
              <%= @booking.space.description %>
            </h6>
            <h6 class="card-text">
              $<%= @booking.space.price %>
            </h6>
            <h6 class="card-text">
              Start date:
              <%= @booking.start %>
            </h6>
            <h6 class="card-text">
              End date:
              <%= @booking.end %>
            </h6>
          </div>
          <div class="map-container">
            <%= image_tag("map8.jpg", class: "map-image", style: "max-width: 100%; height: auto;") %>
          </div>
          <div>
            <p><%= link_to "Edit this booking", edit_booking_path(@booking)%></p>
            <p><%= link_to "Cancel this booking", @booking.space,
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
              class: "text-danger"%></p>
            <p><%= link_to "Back to My Bookings", bookings_path %></p>
            <p><%= link_to "Write a review", new_booking_review_path(@booking) %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= image_tag("sneaky.png", class: "sneaky-image", alt: "Sneaky Image") %>
