<h3 class="home-intro">Welcome to <strong class="spotto-hl-text">SPOTTO</strong> where finding your perfect parking spot is just the beginning of your urban adventure</h3>

<div class="main-container">
  <div class="container">
    <div class="slider-container">
      <div class="slider-group">
        <% desired_ids = [7, 15, 6, 17, 20, 19, 5, 8, 18] %>
        <% @spaces.each do |space| %>
          <% if desired_ids.include?(space.id) %>
            <div class="card">
              <div class="content-img">
                <img src="<%= space.image_url %>" class="card-img-top" alt="..." style="height: 250px; width: fit;">
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  <%= space.name %>
                </h5>
                <h6 class="card-text">
                  <%= space.location %>
                </h6>
                <div class="card-button">
                  <%= link_to "Check out this space", space, class: "button" %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<h3 class="home-intro">This is just a small selection of the many car spots and various spaces that the <strong class="spotto-hl-text">SPOTTO</strong> community is conveniently offering to share with you. Click below to see the complete listings and find your perfect parking solution today.</h3>

<div class="button-container">
  <%= link_to "Oh yeah! Find a Spot!", spaces_path, class: "big-button" %>
</div>
